*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0f0f0f;
    color: #bfbfbf;
    height: 100vh;
    width: 100vw;
}

a
{
    color:#bfbfbf;
    text-decoration: none;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.title
{
    font-size: 10vmin;
    padding: 0.5vw;
    font-family: 'Segoe Print';
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    height: 85vmin;
    width: 85vmin;  
    font-family: "Segoe UI Light";
}

.main-section{
    display: flex;
    flex-direction: row;
    
    height: 8vmin;
    width: 70vmin; 
    justify-content: space-between;
    }

.main-section__upper-timer{
    display: flex;
    background-color: #262626;
    width: 12vmin;
    justify-content: center;
    align-items: flex-start;
    font-size: 5vmin;
    font-weight: bold;
    height: 120%;
    padding: 0.4vmin;
    border-radius: 13px;
}

.main-section__lower-timer{
    display: flex;
    background-color: #262626;
    width: 12vmin;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-weight: bold;
    height: 120%;
    border-radius: 13px;
    position: relative;
    bottom: 20%;
    padding-top: 0.9vmin;
}

.main-section__name-and-material{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 0.5vmin;
}   

.table
{
    table-layout: fixed;
    width: 70vmin;
    height: 70vmin;
    background: #CD996D;
    border-collapse: collapse;
    z-index: 1;
}

.line
{
    height: 11%;
}

.line-with-letters
{
    height: 6%;
}

.line__item
{
    width: 11%;
    
}

.line__item-with-number
{
    width: 6%;
}

.main-section__name-and-material__name-upper{
    padding-top: 1vmin;
    font-size: 3vmin;
}

.main-section__name-and-material__name-lower{
   font-size: 3vmin;
}

 td{
    text-align: center;
    font-weight: bold;
    color: #532209;
 }