*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    color: #bfbfbf;
}

a{
    color:#bfbfbf;
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.title{
    font-size: 10vmin;
    padding: 0.5vw;
    font-family: 'Segoe Print';
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30vw;
    height: 40vw;
}

.input-container{
    display: flex;
    flex-direction: column;
    width:100%;
    height:40%;
}

.input-container__label{
    font-family: 'Segoe UI Light';
    font-size: 2.5vw;
    background-color: #0f0f0f;
    height: 50%;
    display:flex;
    align-items: end;
}

.input-container__input{
    background-color: #262626;
    border-radius: 1vmin;
    color:#bfbfbf;
    border: none;
    font-size: 2vw;
    width:100%;
    height: 40%;
    padding: 5%;
}

.form__warning{
    height: 10%;
    width: 100%;
    font-size: 3vw;
}

.form__button{
    background-color: #262626;
    color:#bfbfbf;
    font-size: 2vw;
    width: 60%;
    height: 14%;
    font-family: 'Segoe UI Light';
    border-radius: 4vmin;
    border: none;
}

.form__button:hover{
    border: 1px solid #bfbfbf;
}

.form__button:active{
    background-color: #0f0f0f;
}

